@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900&display=swap');

html, body{
  background-color: white;
}

body{
  font-family: 'Poppins';
  margin: 0 30px;
}

header > div
{
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

header span, li
{
  font-weight: 600;
  font-size: 12px;
}
.nav
{
  width: 600px;
}

nav ul
{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a
{
  text-decoration: none;
  color: black;
}

.blackHeart
{
  width: 20px;
  margin-right: 1rem;
}

.logo
{
  width: 40px;
}

.magglass
{
  background-color: #f2f2f2;
  margin-left: 9px;
  height: 15px;
  opacity: 0.6;
  padding: 9px;
}

.pos-nav
{
  border-style: none;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 5px 8px 0px #ccc;
 
}

form{
  padding: 5px 0;
  width: 85%;
  display: flex;
  
}

form label
{
  color: rgba(0, 0, 0, 0.5);
}

form input
{
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  border: 0.1px solid rgb(232, 217, 217, 0.3);
  
}

form button
{
  border: 1px solid lightgray;
  color: white;
  background-color: #FB3E44;
  padding: 8px 10px;
  margin-left: 0;
}

.button-join
{
  border: 1px solid lightgrey;
  border-top-color: black;
  color: darkblue;
  background-color: white;
  padding: 5px 15px;
  margin-left: 0;
  font-family: 'Poppins';
 
}

.button-login
{
  border: none;
  color: darkblue;
  padding: 8px;
  background-color: white;
  margin-left: 0;
  font-family: 'Poppins';
}

#section1
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 540px;
  background-color: rgba(232, 217, 217, 0.4);
}

#section1 h2
{
  margin-top: 70px;
  font-size: 4.8em;
  font-weight: bolder;
}

#section1  p 
{
  text-align: center;
  font-weight: 500;
}

#section1 > article
{
  width: 445px;
  margin-bottom: 20px;
}

#section1 > div
{
  margin-top: 40px;
}

#see-plan
{
  background-color: #FB3B49;
  color: white;
  padding: 14px 70px;
  text-align: center;
  text-decoration: none;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  font-weight: 600;
}

#join-free
{
  margin-left: 50px;
  background-color: rgba(255, 255, 255); 
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 14px 50px;
  font-weight: 900;
}

#section2
{
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;

}

#section2 img
{
  height: 200px;
  padding-bottom: 50px; 
}

#section2 > h3
{
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  font-size: 2em;
  padding: 0 20px;
  height: 40px;
}

#section2 > article
{
  width: 765px;
  font-size: 1em;
  text-align: center;
}

#section3
{
  margin: 50px 80px;
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  flex-flow: row wrap;
}
 
 #section3 > div
 {
   padding: 30px;
   width: 250px;
 }

#section3 h4
{
  color: #ED1C24;
}

#section3 img 
{
  width: 50px;
}

#section3 button
{
  background-color: #000;
  color: white;
  padding: 14px 100px;
  text-align: center;
  text-decoration: none;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  margin: 50px;
  font-family: 'Poppins';
  font-weight: bolder;
}
